RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\.stratomoto\.com
#RewriteRule (.*) http://www.stratomoto.com/$1 [L,R=301]


<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_URI} .[^.]+/-.[^.]+.html [NC]
	Rewriterule http://www.arrakis.es/~mabuylla $1/especialidad.html

</IfModule>